//Theme variables overrides

$primary-color: #b20000;
$secondary-color: #e5e500e5;
$color-white: #ffffff;

$theme-colors: (
	'primary': $primary-color,
	'secondary': $secondary-color,
	'white': $color-white,
);
